*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.barrDeNavigations {
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    border-bottom: 5px solid #ED9822;
}
.barrDeNavigations img{
    width: 140px;
}

.spase{
width: 100%;
height: 70px;
background-color: aqua;
}
.image{
    width: 100%;
    height: 300px;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.texte{
    margin-top: -90px;
    margin-left: 20px;
}
.texte h1{
    font-size: 13px;
}
.texte p {
    font-size: 10px;
}