*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.barrDeNavigations {
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    border-bottom: 5px solid #ED9822;
}
.barrDeNavigations img{
    width: 140px;
}

.spase{
width: 100%;
height: 70px;
background-color: aqua;
}
.image{
    width: 100%;
    height: 150px;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.texte{
    margin-top: -90px;
    margin-left: 20px;
}
.texte h1{
    font-size: 13px;
}
.texte p {
    font-size: 10px;
}
.autre{
    display: flex;
    margin-top: 10px;
    margin-bottom: 17px;
}
.autre a{
    font-size: 12px;
    margin-left: 10px;
    padding: 8px 16px;
    background-color: #eaeaea;
    color: #000000;
    border-radius: 10px;
}

/*pour les informartions*/
/*presentations*/
.logo_info{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  
}
.logo_info img{
    width: 50px;
    padding: 0px 40%;
    margin-bottom: 4px;
}
.logo_info h1{
    font-weight: 600;
    font-size: 14px;
    margin-left: 7px;
    color: #000000;
    padding: 0px 40%;
    margin-bottom: 4px;
}
/*paragrave*/
.paragraf {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: center;
    background-color: aqua;
}
.paragraf p{
    width: 330px;
    font-size: 10px;
    text-align: center;
    margin-bottom: 12px;
}


/*Bas de page*/
.baDePage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: #000000;
}
.baDePage p{
    text-align: center;
    color: #eaeaea;
    font-size: 8px;
}