.contenair_produit{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.produit{
    margin-top: 10px;
    width: 350px;
    height: 150px;
    display: flex;
    border-radius: 18px;
    border: 1px solid black;
    margin-bottom: 10px;
   
}

.image_produit{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.image_produit img{
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 18px;
}
.info_produi{
    width: 50%;
    margin-top: 8px;
    margin-left: 2px;
}
.info_produi h1{
    font-size: 14px;
}

.info_produi p{
    font-size: 7px;
    margin-bottom: 5px;
}
.info_produi a{
    font-size: 9px;
    background-color:  #ED9822;
    padding: 7px 18px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}
.info_produi H5{
    font-size: 10px;
    color: #36AA49;
    font-weight: 700;
    margin-bottom: 10px;
}
.info_produi h6{
    font-weight: 400;
    font-size: 8px;
}

.info_produi h2{
    margin-top: 3px;
    font-size: 10px;
    color: rgb(0, 0, 0);
}