*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.contenair_formuler{
    margin-top: 100px;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenair_formuler .formulair{
    width: 280px;
    height: 90%;
}
.img_logo{
    width: 100%;
    height: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.img_logo img{
    padding: 0px 40px;
    width: 150px;
    
}
.img_logo h1{
    width: 100%;
}
.formulair{
text-align: center;
}
.formulair input{
    padding: 9px 0px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #36AA49;
}

.formulair p{
    font-size: 12px;
    margin-bottom: 3px;
    color: #4a4a4a;
}
.formulair .info_w{
    color: black;
    font-size: 9px;
    margin-bottom: 7px;
}
.formulair .envoy{
    width: 70%;
    background-color: #ED9822;
    border: none;
    color: rgb(255, 255, 255);
    
}
